
.circle{
	border: 3px solid #f3f3f3;
	display: block;
    display: block;
    margin-left: 273px;
    margin-top: -44px;
}

.titulo a{
	color: #016E09;
	font-size: 14px;
	text-decoration:none;
}

.rating{
	span{
		i{
			color:#F80606;
		}
	}
}


//estilos del footer
#moneda {
font-family: Roboto, Helvetica;
}

#idioma {
font-family: Roboto, Helvetica;
}

.cont-footer{
	margin-top:40px;
}