.circle{
   
   img{
		position:absolute;
		left: -70px;
		top: 20px;
		border: 1px solid white;
	}
}
.titulo a{
	color: #016E09;
	font-size: 14px;
	text-decoration:none;
}

.rating{
	span{
		i{
			color:#F80606;
		}
	}
}
